.ant-list-header {
  display: flex;
  justify-content: space-between;
}

.ant-modal-title {
  color: unset;
}

.ant-list-item-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
